.fullscreen {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: #fff;
}

.fullscreen.hidden {
  display: none;
}

@font-face {
  font-family: mtavruli;
  src: url(../fonts/MyriadGEOMtavruliMedium.ttf);
}

@font-face {
  font-family: lght;
  src: url(../fonts/45-Light.ttf);
}

@font-face {
  font-family: rmn;
  src: url(../fonts/55-Roman.ttf);
}

@font-face {
  font-family: bld;
  src: url(../fonts/75-Bold.ttf);
}

.container {
  max-width: 90.1875rem;
  margin: 0 auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  resize: none;
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

input, input:before, input:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

input, button, textarea {
  background-color: transparent;
  border: none;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

a, input, textarea {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

ul li {
  list-style-position: inside;
  list-style: none;
}

div.default-ul p:not(:last-child) {
  margin-bottom: 1em;
}

div.default-ul ul li {
  list-style: initial;
  list-style-position: inside;
}

.container {
  max-width: 90.1875rem;
  margin: 0 auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}

html {
  font-family: rmn;
  font-size: 16px;
  line-height: 1.125rem;
  scroll-behavior: smooth;
}

@media screen and (min-width: 1025px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 1441px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 16px;
  }
}

body {
  overflow-x: hidden;
}

body.noscroll {
  overflow-y: hidden;
}

@media screen and (min-width: 1025px) {
  .fullscreen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.load-hidden {
  opacity: 0;
}

* {
  scroll-behavior: smooth;
}

.swiper-notification {
  display: none;
}

@media screen and (min-width: 1025px) {
  .sw-cntr-left img.for-load {
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  .sw-cntr-left img.for-load.loaded {
    -webkit-animation-duration: 1.6s;
            animation-duration: 1.6s;
    -webkit-animation-name: leftimg;
            animation-name: leftimg;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@media screen and (min-width: 1025px) {
  .sw-cntr-right img.for-load {
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  .sw-cntr-right img.for-load.loaded {
    -webkit-animation-duration: 1.6s;
            animation-duration: 1.6s;
    -webkit-animation-name: rightimg;
            animation-name: rightimg;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@media screen and (min-width: 1025px) {
  .swiper-paginationRightt.for-load.loaded, .go-nav.for-load.loaded {
    -webkit-animation-duration: 1.6s;
            animation-duration: 1.6s;
    -webkit-animation-name: pag;
            animation-name: pag;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@-webkit-keyframes pag {
  0% {
    -webkit-transform: translateY(50vh);
            transform: translateY(50vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes pag {
  0% {
    -webkit-transform: translateY(50vh);
            transform: translateY(50vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes header {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes header {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes rightimg {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes rightimg {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes leftimg {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes leftimg {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.main {
  background: #0A22F4;
  color: #fff;
  width: 100%;
  height: 185px;
  -webkit-transition: none;
  transition: none;
  border-radius: 0 0 20px 20px;
  -webkit-transition: -webkit-clip-path .8s ease-in;
  transition: -webkit-clip-path .8s ease-in;
  transition: clip-path .8s ease-in;
  transition: clip-path .8s ease-in, -webkit-clip-path .8s ease-in;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  margin-bottom: calc(236px + 26px);
}

@media screen and (min-width: 400px) {
  .main {
    margin-bottom: calc(24vh + 26px);
  }
}

@media screen and (min-width: 768px) {
  .main {
    margin-bottom: calc(40vh + 26px);
  }
}

@media screen and (min-width: 1025px) {
  .main {
    -webkit-clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
            clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    border-radius: 0;
    margin-bottom: unset;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    height: 100vh;
  }
  .main.loaded {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.main__slider {
  margin: 0 auto;
  -ms-grid-columns: 42% 1fr;
      grid-template-columns: 42% 1fr;
  grid-gap: 25px;
  position: relative;
  overflow-y: visible;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media screen and (min-width: 1025px) {
  .main__slider {
    display: -ms-grid;
    display: grid;
  }
}

@media screen and (min-width: 1441px) {
  .main__slider {
    -ms-grid-columns: 49.2% 1fr;
        grid-template-columns: 49.2% 1fr;
  }
}

.main__slider__container {
  display: none;
}

@media screen and (min-width: 1025px) {
  .main__slider__container {
    display: block;
    height: 100%;
    padding-top: calc(215 * 100vh / 1080);
    padding-bottom: calc(65 * 100vh / 1080);
  }
}

.main__slider .swiper-container {
  height: 100%;
  width: 100%;
  overflow-y: visible;
}

.main__slider .swiper-container.sw-cntr-left {
  padding-left: calc( ((100vw - 10px) - 90.1875rem) / 2);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  grid-row-gap: 2.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 210px;
}

@media screen and (min-width: 1025px) {
  .main__slider .swiper-container.sw-cntr-left {
    display: -ms-grid;
    display: grid;
    height: calc(700vh / 1080 * 100);
  }
}

.main__slider .swiper-container.sw-cntr-left .hidden-element {
  height: calc(100% - 26px - 2.5rem);
  width: 100%;
  width: calc( 100% - (((100vw - 10px) - 90.1875rem) / 2));
  position: absolute;
  right: 0;
  top: -3px;
  z-index: -1;
  display: none;
}

@media screen and (min-width: 1025px) {
  .main__slider .swiper-container.sw-cntr-left .hidden-element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main__slider .swiper-container.sw-cntr-left .hidden-element::after {
    background: -webkit-gradient(linear, left top, right top, from(#0A22F4), color-stop(80%, #0A22F4), to(#fff)) no-repeat;
    background: linear-gradient(90deg, #0A22F4 0%, #0A22F4 80%, #fff 100%) no-repeat;
    content: '';
    width: 100%;
    height: 200%;
    display: block;
    position: absolute;
    right: 100%;
    top: 0;
    opacity: .2;
    -webkit-clip-path: polygon(1% 50%, 100% 1%, 100% 50%, 0% 100%);
            clip-path: polygon(1% 50%, 100% 1%, 100% 50%, 0% 100%);
    -webkit-transform: translate(7px);
            transform: translate(7px);
  }
  .main__slider .swiper-container.sw-cntr-left .hidden-element::before {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(20%, #0A22F4), to(#0A22F4)) no-repeat;
    background: linear-gradient(#fff 0%, #0A22F4 20%, #0A22F4 100%) no-repeat;
    content: '';
    width: 200%;
    height: 100%;
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    opacity: .2;
    -webkit-clip-path: polygon(50% 0%, 99% 0, 50% 99%, 0 100%);
            clip-path: polygon(50% 0%, 99% 0, 50% 99%, 0 100%);
    -webkit-transform: translate(7px);
            transform: translate(7px);
  }
}

@media screen and (min-width: 1025px) {
  .main__slider .swiper-container.sw-cntr-left .swiper-wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

.main__slider .swiper-container.sw-cntr-right {
  overflow-x: hidden;
  height: calc(800vh * 100 / 1080);
  position: relative;
}

.main__slider .swiper-container .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 162px;
  height: 162px;
}

.main__slider .swiper-container .swiper-slide.swiper-slide-active {
  width: 66.6%;
  height: 100%;
}

@media screen and (min-width: 1025px) {
  .main__slider .swiper-container .swiper-slide {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .main__slider .swiper-container .swiper-slide.swiper-slide-active {
    opacity: 1;
  }
}

.main__slider .swiper-container img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: relative;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__slider .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1025px) {
  .main.scrolled .header {
    height: 65px;
  }
}

@media screen and (min-width: 1025px) {
  .main.scrolled .header-content {
    height: 100%;
  }
}

.sw-cntr-right-outter-outter {
  display: none;
}

@media screen and (min-width: 1025px) {
  .sw-cntr-right-outter-outter {
    display: unset;
  }
}

.sw-cntr-right-outter-outter .sw-cntr-right-outter {
  position: relative;
}

.sw-cntr-right-outter-outter .sw-cntr-right-outter::before {
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(20%, #0A22F4), color-stop(20%, transparent), to(transparent)) no-repeat;
  background: linear-gradient(0deg, #fff 0%, #0A22F4 20%, transparent 20%, transparent 100%) no-repeat;
  content: '';
  width: 100%;
  height: 200%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 100%;
  opacity: .2;
  -webkit-clip-path: polygon(50% 0%, 99% 0, 50% 99%, 0 100%);
          clip-path: polygon(50% 0%, 99% 0, 50% 99%, 0 100%);
  -webkit-transform: translate(0px, 7px);
          transform: translate(0px, 7px);
}

.sw-cntr-left-outter-outter {
  overflow: hidden;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: -225px;
}

@media screen and (min-width: 1025px) {
  .sw-cntr-left-outter-outter {
    bottom: unset;
  }
}

.go-nav {
  justify-self: flex-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  grid-gap: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 26px;
}

.go-nav-left, .go-nav-right {
  cursor: pointer;
}

.swiper-pagination, .swiper-paginationR {
  display: -ms-grid;
  display: grid;
  height: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
  -ms-grid-columns: (6px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 6px);
  margin-top: 20px;
}

@media screen and (min-width: 1025px) {
  .swiper-pagination, .swiper-paginationR {
    margin-top: unset;
    height: 26px;
    -ms-grid-columns: (10px)[auto-fill];
        grid-template-columns: repeat(auto-fill, 10px);
  }
}

.swiper-pagination .swiper-pagination-bullet, .swiper-paginationR .swiper-pagination-bullet {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: .3;
  background-color: #0A22F4;
}

@media screen and (min-width: 1025px) {
  .swiper-pagination .swiper-pagination-bullet, .swiper-paginationR .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #fff;
  }
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active, .swiper-paginationR .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.header {
  position: absolute;
  width: 100%;
  height: 115px;
  background-color: transparent;
  z-index: 1;
}

.header.loaded {
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-name: header;
          animation-name: header;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

@media screen and (min-width: 1025px) {
  .header .header-content {
    margin-top: unset;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 115px;
  }
}

@media screen and (min-width: 1025px) {
  .header__logo .mobile {
    display: none;
  }
}

.header__logo .desktop {
  display: none;
}

@media screen and (min-width: 1025px) {
  .header__logo .desktop {
    display: block;
  }
}

.header__right {
  display: none;
}

@media screen and (min-width: 1025px) {
  .header__right {
    display: block;
  }
}

.header__right__nav__ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 42px;
  -ms-grid-columns: (auto)[6];
      grid-template-columns: repeat(6, auto);
}

.header__right__nav__ul li {
  display: inline-block;
  border-radius: 28px;
  padding: 18px 0;
}

.header__right__nav__ul li a {
  display: inline-block;
  position: relative;
}

.header__right__nav__ul li a::after {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 0;
  background-color: #fff;
  border-radius: 2px;
  bottom: -16px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: .1s width ease-in;
  transition: .1s width ease-in;
}

.header__right__nav__ul li:hover:not(.active) a::after {
  width: 37px;
}

.header__right__nav__ul li.active {
  background-color: #fff;
  color: #171717;
  padding: 0;
}

.header__right__nav__ul li.active a {
  width: 100%;
  height: 100%;
  padding: 18px 36px;
}

.respo-main-slider {
  margin-top: 135px;
  position: absolute;
  overflow: hidden;
}

@media screen and (min-width: 1025px) {
  .respo-main-slider {
    display: none;
  }
}

.respo-main-slider__container {
  width: 100vw;
  position: relative;
  overflow: visible;
  height: calc(236px + 46px);
}

@media screen and (min-width: 400px) {
  .respo-main-slider__container {
    height: calc(24vh + 46px);
  }
}

@media screen and (min-width: 768px) {
  .respo-main-slider__container {
    height: calc(40vh + 46px);
  }
}

.respo-main-slider__container .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: 21px;
  height: 236px;
  position: relative;
  left: calc( 33.3vw - 21px);
}

@media screen and (min-width: 400px) {
  .respo-main-slider__container .swiper-wrapper {
    height: 24vh;
  }
}

@media screen and (min-width: 768px) {
  .respo-main-slider__container .swiper-wrapper {
    height: 40vh;
  }
}

.respo-main-slider__container .swiper-slide {
  height: 100%;
  width: 66.6vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  opacity: 0;
  padding-bottom: 23%;
}

@media screen and (min-width: 450px) {
  .respo-main-slider__container .swiper-slide {
    padding-bottom: 19%;
  }
}

@media screen and (min-width: 600px) {
  .respo-main-slider__container .swiper-slide {
    padding-bottom: 16%;
  }
}

@media screen and (min-width: 769px) {
  .respo-main-slider__container .swiper-slide {
    padding-bottom: 11%;
  }
}

.respo-main-slider__container .swiper-slide.swiper-slide-prev {
  opacity: 1;
}

.respo-main-slider__container .swiper-slide.swiper-slide-active {
  padding-bottom: 0;
  opacity: 1;
}

.respo-main-slider__container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.swiper-paginationR {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutus {
  color: #171717;
  padding: 0 20px;
}

@media screen and (min-width: 1025px) {
  .aboutus {
    padding: 0;
  }
  .aboutus:not(.services) {
    padding-left: calc( ((100vw - 10px) - 90.1875rem) / 2);
  }
}

.aboutus h1 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  font-size: 18px;
  line-height: 21px;
}

@media screen and (min-width: 1025px) {
  .aboutus h1 {
    margin-bottom: 3.75rem;
    font-size: 2rem;
    line-height: 2.3125rem;
  }
}

@media screen and (min-width: 1025px) {
  .aboutus.services .aboutus__content {
    -ms-grid-columns: 1fr calc(24.1vw + 22.625rem);
        grid-template-columns: 1fr calc(24.1vw + 22.625rem);
  }
  .aboutus.services .aboutus__content__imgbox {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.aboutus__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 1025px) {
  .aboutus__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 24.1vw 1fr;
        grid-template-columns: 24.1vw 1fr;
    grid-gap: 8.5625rem;
  }
}

.aboutus__content__textbox {
  font-size: 14px;
  line-height: 1.625rem;
  font-family: rmn;
}

@media screen and (min-width: 1025px) {
  .aboutus__content__textbox {
    font-size: 1rem;
  }
}

.aboutus__content__textbox p {
  margin-bottom: 20px;
}

@media screen and (min-width: 1025px) {
  .aboutus__content__textbox p {
    margin-bottom: 3.125rem;
  }
}

.aboutus__content__textbox__blue {
  color: #0A22F4;
  font-family: bld;
}

.aboutus__content__imgbox {
  height: 180px;
  overflow: visible;
  margin-bottom: 30px;
}

@media screen and (min-width: 1025px) {
  .aboutus__content__imgbox {
    margin-bottom: unset;
    padding-top: 7.625rem;
    height: 100%;
    padding-right: 35%;
    padding-bottom: 24.375rem;
    overflow: hidden;
  }
  .aboutus__content__imgbox__bgblue {
    position: absolute;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #0A22F4;
    -webkit-transform: translate(0.625rem, 0.625rem);
            transform: translate(0.625rem, 0.625rem);
    z-index: -1;
  }
}

.aboutus__content__imgbox .img-outter {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .aboutus__content__imgbox .img-outter {
    position: relative;
  }
}

.aboutus__content__imgbox .img-outter img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  border-radius: 15px;
}

@media screen and (min-width: 1025px) {
  .aboutus:not(.services) .img-outter::after {
    background: -webkit-gradient(linear, right top, left top, from(#fff), color-stop(50%, #fff), to(#0A22F4)) no-repeat;
    background: linear-gradient(270deg, #fff 0%, #fff 50%, #0A22F4 100%) no-repeat;
    content: '';
    width: 100%;
    height: 200%;
    display: block;
    position: absolute;
    z-index: -1;
    left: 100%;
    top: 0;
    opacity: .1;
    -webkit-clip-path: polygon(0 1%, 100% 51%, 100% 100%, 0 50%);
            clip-path: polygon(0 1%, 100% 51%, 100% 100%, 0 50%);
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
  .aboutus:not(.services) .img-outter::before {
    background: -webkit-gradient(linear, left top, left bottom, from(#0A22F4), color-stop(50%, #fff), to(#fff)) no-repeat;
    background: linear-gradient(#0A22F4 0%, #fff 50%, #fff 100%) no-repeat;
    content: '';
    width: 200%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 100%;
    opacity: .1;
    -webkit-clip-path: polygon(1% 0, 50% 0%, 100% 100%, 51% 100%);
            clip-path: polygon(1% 0, 50% 0%, 100% 100%, 51% 100%);
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
    border-radius: 20px 0 0 0;
  }
}

@media screen and (min-width: 1025px) {
  .services .aboutus__content__textbox {
    padding-right: 22.625rem;
  }
}

.services .aboutus__content__imgbox {
  padding-right: 0;
  padding-left: calc( ((100vw - 10px) - 90.1875rem) / 2);
}

.services .aboutus__content__imgbox .aboutus__content__imgbox__bgblue {
  -webkit-transform: translate(-0.625rem, 0.625rem);
          transform: translate(-0.625rem, 0.625rem);
}

@media screen and (min-width: 1025px) {
  .services .img-outter::after {
    background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(50%, #fff), to(#0A22F4)) no-repeat;
    background: linear-gradient(90deg, #fff 0%, #fff 50%, #0A22F4 100%) no-repeat;
    content: '';
    width: 100%;
    height: 200%;
    display: block;
    position: absolute;
    z-index: -1;
    right: 100%;
    top: 0;
    opacity: .1;
    -webkit-clip-path: polygon(1% 50%, 100% 1%, 100% 50%, 0% 100%);
            clip-path: polygon(1% 50%, 100% 1%, 100% 50%, 0% 100%);
    -webkit-transform: translate(7px);
            transform: translate(7px);
  }
  .services .img-outter::before {
    background: -webkit-gradient(linear, left top, left bottom, from(#0A22F4), color-stop(50%, #fff), to(#fff)) no-repeat;
    background: linear-gradient(#0A22F4 0%, #fff 50%, #fff 100%) no-repeat;
    content: '';
    width: 200%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 100%;
    opacity: .1;
    -webkit-clip-path: polygon(50% 0%, 99% 0, 50% 99%, 0 100%);
            clip-path: polygon(50% 0%, 99% 0, 50% 99%, 0 100%);
    -webkit-transform: translate(7px);
            transform: translate(7px);
  }
}

.projects {
  position: relative;
  padding: 0 20px;
  padding-top: 29px;
  overflow: hidden;
  margin-bottom: 40px;
}

@media screen and (min-width: 1025px) {
  .projects {
    margin-bottom: 17rem;
    padding: 0;
    padding-left: calc( ((100vw - 10px) - 90.1875rem) / 2);
    padding-top: 66px;
  }
}

.projects h1 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 29px;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  font-size: 18px;
  line-height: 21px;
}

@media screen and (min-width: 1025px) {
  .projects h1 {
    font-size: 2rem;
    line-height: 2.3125rem;
  }
}

.projects .swiper-container {
  height: 225px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1025px) {
  .projects .swiper-container {
    overflow: hidden;
    height: 29.375rem;
    margin-bottom: 4.3125rem;
  }
  .projects .swiper-container::after {
    background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(50%, #fff), to(#0A22F4)) no-repeat;
    background: linear-gradient(90deg, #fff 0%, #fff 50%, #0A22F4 100%) no-repeat;
    content: '';
    width: 100%;
    height: 200%;
    display: block;
    position: absolute;
    z-index: -1;
    right: 100%;
    top: 0;
    opacity: .1;
    -webkit-clip-path: polygon(1% 50%, 100% 1%, 100% 50%, 0% 100%);
            clip-path: polygon(1% 50%, 100% 1%, 100% 50%, 0% 100%);
    -webkit-transform: translate(7px);
            transform: translate(7px);
  }
  .projects .swiper-container::before {
    background: -webkit-gradient(linear, left top, left bottom, from(#0A22F4), color-stop(50%, #fff), to(#fff)) no-repeat;
    background: linear-gradient(#0A22F4 0%, #fff 50%, #fff 100%) no-repeat;
    content: '';
    width: 200%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 100%;
    opacity: .1;
    -webkit-clip-path: polygon(50% 0%, 99% 0, 50% 99%, 0 100%);
            clip-path: polygon(50% 0%, 99% 0, 50% 99%, 0 100%);
    -webkit-transform: translate(7px);
            transform: translate(7px);
  }
}

.projects .other-projects {
  background-color: #0A22F4;
  border-radius: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  color: #fff;
  width: 100%;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  font-weight: 600 !important;
}

@media screen and (min-width: 1025px) {
  .projects .other-projects {
    width: unset;
    height: unset;
    display: inline;
    border-radius: 0;
    background-color: initial;
    color: #171717;
    padding-right: calc( ((100vw - 10px) - 90.1875rem) / 2);
    padding-left: 1.25rem;
    border-left: 1px solid #171717;
  }
}

.projects .other-projects-outter {
  text-align: right;
}

.projects .swiper-wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .foreffect {
  height: 100%;
  position: absolute;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 66vw;
}

.projects .swiper-slide {
  height: 100%;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 66vw;
}

.projects .swiper-slide img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1025px) {
  .projects .swiper-slide {
    width: 28.9375rem;
  }
  .projects .swiper-slide:nth-of-type(even) {
    padding-bottom: 3.125rem;
  }
  .projects .swiper-slide:nth-of-type(even) h2 {
    bottom: calc( 3.125rem + 10px);
  }
  .projects .swiper-slide:nth-of-type(odd) {
    padding-top: 3.125rem;
  }
}

.projects .swiper-slide h2 {
  position: absolute;
  z-index: 1;
  width: calc( 100% - 10px);
  right: 5px;
  bottom: 5px;
  padding: 5px;
  background-color: #fff;
  display: inline-block;
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  text-transform: uppercase;
  font-size: 13px;
  color: #171717;
  line-height: 15px;
}

@media screen and (min-width: 1025px) {
  .projects .swiper-slide h2 {
    padding: 1.5625rem 1.875rem;
    width: calc( 100% - 20px);
    right: 10px;
    bottom: 10px;
    font-size: 1.125rem;
    line-height: 1.3125rem;
  }
}

.projects .projectSliderPagination {
  position: absolute;
  top: 5.25rem;
  right: calc( ((100vw - 10px) - 90.1875rem) / 2);
  display: none;
  -ms-grid-columns: (10px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 10px);
  grid-gap: 20px;
  height: 26px;
  width: 400px;
  justify-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 1025px) {
  .projects .projectSliderPagination {
    display: -ms-grid;
    display: grid;
  }
}

.projects__bluebg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  background-color: #0A22F4;
  height: 132px;
}

@media screen and (min-width: 1025px) {
  .projects__bluebg {
    height: 308px;
  }
}

.projects__bluebg .forunion {
  position: relative;
  height: 132px;
}

@media screen and (min-width: 1025px) {
  .projects__bluebg .forunion {
    height: 308px;
    background: url(../images/union.svg) no-repeat;
  }
}

.partners {
  padding: 0 20px;
  margin-bottom: 40px;
}

@media screen and (min-width: 1025px) {
  .partners {
    position: relative;
    margin-bottom: 17rem;
    padding: 0;
    padding-left: calc( ((100vw - 10px) - 90.1875rem) / 2);
    padding-right: calc( ((100vw - 10px) - 90.1875rem) / 2);
  }
}

.partners h1 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  font-size: 18px;
  line-height: 21px;
}

@media screen and (min-width: 1025px) {
  .partners h1 {
    margin-bottom: 3.75rem;
    font-size: 2rem;
    line-height: 2.3125rem;
  }
}

.partners__content {
  overflow: hidden;
}

@media screen and (min-width: 1025px) {
  .partners__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 24.1vw 1fr;
        grid-template-columns: 24.1vw 1fr;
    grid-gap: 12.5rem;
  }
}

@media screen and (min-width: 1025px) and (min-width: 1800px) {
  .partners__content {
    grid-gap: 16.8125rem;
  }
}

.partners__content__textbox {
  font-size: 14px;
  line-height: 1.625rem;
  font-family: rmn;
  margin-bottom: 30px;
}

@media screen and (min-width: 1025px) {
  .partners__content__textbox {
    font-size: 1rem;
    margin-bottom: 0;
  }
}

.partners__content__textbox p {
  margin-bottom: 20px;
}

@media screen and (min-width: 1025px) {
  .partners__content__textbox p {
    margin-bottom: 3.125rem;
  }
}

.partners__content__textbox p:last-of-type {
  margin-bottom: 0;
}

.partners__content__textbox__blue {
  color: #0A22F4;
  font-family: bld;
}

.partners__content__logosRespo {
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .partners__content__logosRespo {
    display: none;
  }
}

.partners__content__logosRespo .swiper-container {
  width: 100vw;
  height: 60px;
  margin-bottom: 30px;
  overflow: hidden;
}

.partners__content__logosRespo .swiper-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partners__content__logosRespo .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
}

.partners__content__logosRespo .swiper-slide img {
  height: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.partners__content__logosRespo__pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 6px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(auto, 6px));
  grid-gap: 10px;
}

.partners__content__logosRespo__pagination .swiper-pagination-bullet {
  background-color: #0A22F4;
  opacity: .3;
  height: 100%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
}

.partners__content__logosRespo__pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

.partners__content__logos {
  display: none;
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .partners__content__logos {
    display: unset;
  }
}

.partners__content__logos .swiper-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.partners__content__logos .swiper-wrapper {
  width: 100%;
  display: none;
}

@media screen and (min-width: 1025px) {
  .partners__content__logos .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.partners__content__logos__pagination {
  position: absolute;
  top: 0;
  right: calc( ((100vw - 10px) - 90.1875rem) / 2);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 400px;
  -ms-grid-columns: (10px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 10px);
}

.partners__content__logos__pagination .swiper-pagination-bullet {
  background-color: #0A22F4;
  opacity: .3;
}

.partners__content__logos__pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

.partners__content__logos .swiper-slide {
  display: -ms-grid;
  display: grid;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  grid-gap: 25px;
  -ms-grid-rows: (5.125rem)[3];
      grid-template-rows: repeat(3, 5.125rem);
  height: 100%;
  width: calc( (100% - 50px) / 3) !important;
}

.partners__content__logos .swiper-slide-inside {
  width: 100%;
}

.partners__content__logos .swiper-slide-inside img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer {
  background-color: #0A22F4;
  width: 100%;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 0 20px;
  padding-top: 30px;
  padding-bottom: 130px;
}

@media screen and (min-width: 1025px) {
  .footer {
    padding: 0 calc( ((100vw - 10px) - 90.1875rem) / 2);
    padding-top: 17rem;
  }
  .footer::after {
    content: '';
    position: absolute;
    right: 0;
    top: 17rem;
    z-index: 0;
    width: 32rem;
    height: 32rem;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0%, #fff), to(#0a22f4));
    background: linear-gradient(#fff 0%, #fff 0%, #0a22f4 100%);
    opacity: 0.1;
    -webkit-transform: translate(25%, -90%);
            transform: translate(25%, -90%);
  }
}

.footer h1 {
  text-transform: uppercase;
  margin-bottom: 1.875rem;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  font-size: 18px;
  line-height: 21px;
}

@media screen and (min-width: 1025px) {
  .footer h1 {
    font-size: 2rem;
    line-height: 2.3125rem;
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 1025px) {
  .footer__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 47.6vw 1fr;
        grid-template-columns: 47.6vw 1fr;
  }
}

.footer__content__left {
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .footer__content__left {
    width: unset;
  }
}

.footer__content__left__textbox {
  display: none;
  font-size: 14px;
  line-height: 1.625rem;
  width: 464px;
  font-family: rmn;
  margin-bottom: 30px;
}

@media screen and (min-width: 1025px) {
  .footer__content__left__textbox {
    display: block;
    font-size: 1rem;
    margin-bottom: 3.75rem;
  }
}

.footer__content__left__textbox p {
  margin-bottom: 20px;
}

@media screen and (min-width: 1025px) {
  .footer__content__left__textbox p {
    margin-bottom: 3.125rem;
  }
}

.footer__content__left__textbox p:last-of-type {
  margin-bottom: 0;
}

.footer__content__left__textbox__blue {
  color: #0A22F4;
  font-family: bld;
}

.footer__content__left .map {
  height: 201px;
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

@media screen and (min-width: 1025px) {
  .footer__content__left .map {
    width: 464px;
    margin-bottom: 4.375rem;
  }
  .footer__content__left .map::after {
    background: -webkit-gradient(linear, left top, right top, from(#0A22F4), color-stop(80%, #0A22F4), to(#fff)) no-repeat;
    background: linear-gradient(90deg, #0A22F4 0%, #0A22F4 80%, #fff 100%) no-repeat;
    content: '';
    width: 100%;
    height: 200%;
    display: block;
    position: absolute;
    right: 100%;
    top: 0;
    opacity: .2;
    -webkit-clip-path: polygon(1% 50%, 100% 1%, 100% 50%, 0% 100%);
            clip-path: polygon(1% 50%, 100% 1%, 100% 50%, 0% 100%);
    -webkit-transform: translate(7px);
            transform: translate(7px);
  }
  .footer__content__left .map::before {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(20%, #0A22F4), to(#0A22F4)) no-repeat;
    background: linear-gradient(#fff 0%, #0A22F4 20%, #0A22F4 100%) no-repeat;
    content: '';
    width: 200%;
    height: 100%;
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    opacity: .2;
    -webkit-clip-path: polygon(50% 0%, 99% 0, 50% 99%, 0 100%);
            clip-path: polygon(50% 0%, 99% 0, 50% 99%, 0 100%);
    -webkit-transform: translate(7px);
            transform: translate(7px);
  }
}

.footer__content__left .map iframe {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.footer__content__left .map__whitebg {
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.footer__content__left__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1025px) {
  .footer__content__left__links {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer__content__left__links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  font-size: 13px;
  text-transform: lowercase !important;
  line-height: 15px;
}

@media screen and (min-width: 1025px) {
  .footer__content__left__links a {
    font-size: 1.375rem;
    line-height: 1.625rem;
  }
}

.footer__content__left__links a span {
  margin-right: 10px;
}

.footer__content__left__links a span svg path {
  fill: #fff;
}

@media screen and (min-width: 1025px) {
  .footer__content__left__links a span {
    margin-right: 20px;
  }
  .footer__content__left__links a span svg path {
    fill: #0A22F4;
  }
}

@media screen and (min-width: 1025px) {
  .footer__content__left__links a span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 4.375rem;
    min-height: 4.375rem;
    border-radius: 50%;
    position: relative;
    background-color: #fff;
  }
  .footer__content__left__links a span::after {
    position: absolute;
    top: 0;
    content: '';
    width: 100%;
    height: 250%;
    border-radius: 35px 35px 0px 0px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#0a22f4));
    background: linear-gradient(#fff 0%, #0a22f4 100%);
    opacity: 0.1;
  }
}

@media screen and (min-width: 1025px) {
  .footer__content__left__links a:not(:last-child) {
    margin-right: 6.25rem;
  }
}

.footer__content__right {
  position: relative;
  z-index: 1;
}

.footer__content__right form {
  max-width: 28.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__content__right form input {
  color: #fff;
}

.footer__content__right label {
  display: block;
  margin-bottom: 5px;
}

.footer__hr {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 40px;
}

.footer__realfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 1025px) {
  .footer__realfooter {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 32px;
  }
}

.footer__realfooter__left {
  font-size: 13px;
  line-height: 15px;
  opacity: .6;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  font-weight: 600 !important;
}

@media screen and (min-width: 1025px) {
  .footer__realfooter__left {
    font-size: 1rem;
    line-height: 1.125rem;
    opacity: 1;
  }
}

.footer__realfooter__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

@media screen and (min-width: 1025px) {
  .footer__realfooter__right {
    margin-bottom: 0;
    width: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

.footer__realfooter__right p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  font-size: 13px;
  line-height: 15px;
}

.footer__realfooter__right p svg {
  margin: 0 4px;
}

@media screen and (min-width: 1025px) {
  .footer__realfooter__right p {
    margin-right: 31px;
  }
}

.input-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 2.5rem;
}

.input-div input {
  height: 0.9375rem;
}

@media screen and (min-width: 1025px) {
  .input-div input {
    height: 2.1875rem;
  }
}

.input-div input, textarea {
  overflow: hidden;
  width: 100%;
  display: block;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 1025px) {
  .input-div input, textarea {
    padding: 10px 20px;
  }
}

.input-div input:focus, .input-div input:not(:placeholder-shown), textarea:focus, textarea:not(:placeholder-shown) {
  margin-top: 5px;
  border-radius: 12px;
  border-color: rgba(255, 255, 255, 0.3);
}

.input-div input:focus:not(textarea), .input-div input:not(:placeholder-shown):not(textarea), textarea:focus:not(textarea), textarea:not(:placeholder-shown):not(textarea) {
  height: 4rem;
}

textarea {
  margin-bottom: 30px;
  height: 4rem;
}

@media screen and (min-width: 1025px) {
  textarea {
    height: 7.1875rem;
    margin-bottom: 2.5rem;
  }
}

.submit_button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 28px;
  margin-bottom: 40px;
  color: #171717;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
}

@media screen and (min-width: 769px) {
  .submit_button {
    max-width: 151px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media screen and (min-width: 1025px) {
  .submit_button {
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.125rem;
  }
}

.respomenu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 998;
  background-color: rgba(23, 23, 23, 0.3);
  overflow: hidden;
  opacity: 0;
  padding: 0 20px;
  padding-bottom: 130px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

@media screen and (min-width: 1025px) {
  .respomenu__nav {
    display: none;
  }
}

.respomenu__nav ul {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 27px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  padding: 38px 5px;
  background-color: #0A22F4;
  color: #fff;
  width: 100%;
  border-radius: 15px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.respomenu__nav ul li {
  white-space: nowrap;
}

.respomenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 40px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0A22F4;
  z-index: 999;
}

@media screen and (min-width: 1025px) {
  .respomenu {
    display: none;
  }
}

.respomenu.active .burger span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 6px;
}

.respomenu.active .burger span:nth-child(2) {
  width: 0;
}

.respomenu.active .burger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 6px;
}

.respomenu.active + .respomenu__nav {
  height: 100%;
  opacity: 1;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.respomenu.active + .respomenu__nav ul {
  max-height: 320px;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.burger-container {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger {
  display: block;
  height: 12px;
  position: relative;
  width: 18px;
  cursor: pointer;
}

.burger span {
  width: 18px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: absolute;
  border-radius: 15px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.burger span:nth-child(2) {
  top: 6px;
}

.burger span:nth-child(3) {
  top: 12px;
}
/*# sourceMappingURL=style.css.map */