// generals
@import fonts
@import variables
@import defaults

*
    scroll-behavior: smooth
body
    height: 300vh

.swiper-notification
    display: none

// import components
@import main


.aboutus
    padding-left: $padL
    color: $black
    h1
        text-transform: uppercase
        margin-bottom: 30px
        @include upperCase(true)        
        font-size: 18px
        line-height: 21px
        @include plus1025()
            margin-bottom: 3.75rem
            font-size: 32px
            line-height: 37px

    &__content

        @include plus1025()
            display: grid
            grid-template-columns: 24.1vw 1fr
            grid-gap: 8.5625rem
        &__textbox
            font-size: 14px
            line-height: 1.625rem
            font-family: rmn
            @include plus1025()
                font-size: 1rem
            p
                margin-bottom: 20px
                @include plus1025()
                    margin-bottom: 3.125rem
        &__imgbox
            height: 100%
            padding-top: 7.625rem
            padding-right: 35%
            .img-outter
                position: relative
                width: 100%
                @include leftGradientEffectDown()
                
                img
                    width: 100%
                    border-radius: 15px
                

            &__bgblue
                position: absolute
                border-radius: 15px
                width: 100%
                height: 100%
                top: 0
                right: 0
                background-color: $blue
                transform: translate(0.625rem, 0.625rem)
                z-index: -1